<div class="content-area">
  <main class="site-main">
    <section class="tag">
      <div class="container medium">
        <h1 class="tag-name"><%=page.category%></h1>
      </div>
    </section>
    
    <div class="post-feed container medium">
      <%-partial('partials/loopForArchives')%>
    </div>
    
    <%-partial('partials/pagination')%>
  </main>
</div>