
<div class="content-area">
    <main class="site-main">
        <div class="post-feed container medium">
          <%-partial('partials/loop')%>
        </div>
        <%-paginator()%>
    </main>
</div>