<div class="content-area">
  <main class="site-main">
    <article class="single post no-image page">
      <header class="single-header kg-canvas">
        <h1 class="single-title"><%=page.title%></h1>
        
        <% if (page.excerpt && page.excerpt.length) { %>
          <div class="single-excerpt">
            <%=page.excerpt%>
          </div>
        <% } %>
      
      </header>
      
      <div class="single-content kg-canvas u-text-format">
        <%-page.content%>
      </div>
    </article>
    
    <% if (page.form == true) { %>
      <%-partial('widgets/Formspree')%>
    <% } %>
  
  </main>
</div>




