<div class="content-area">
    <main class="site-main">
        <article class="single post">
            <%-partial('partials/postHeader')%>
            <div class="single-content kg-canvas u-text-format">
                <%-page.content%>
            </div>
            <%-partial('partials/postFooter')%>
        </article>
        <!--评论区-->
    </main>
</div>