<footer class="site-footer container">
    <div class="social">
        <a class="social-item social-item-github"
            href="https://github.com/" target="_blank"
            rel="noopener noreferrer" aria-label="GitHub">
            <svg class="icon">
                <use xlink:href="#icon-github-square"></use>
            </svg>
        </a>
        
        <a class="social-item social-item-email"
            href="mailto:jiangkch@outlook.com" target="_blank"
            rel="noopener noreferrer" aria-label="Email">
            <svg class="icon">
                <use xlink:href="#icon-mail"></use>
            </svg>
        </a>

        <a class="social-item social-item-rss"
            href="/atom.xml"
            target="_blank" rel="noopener noreferrer" aria-label="RSS">
            <svg class="icon">
                <use xlink:href="#icon-rss-square"></use>
            </svg>
        </a>

        <a class="social-item social-item-terminal"
            href="/404" target="_blank"
            rel="noopener noreferrer" aria-label="Terminal">
            <svg class="icon">
                <use xlink:href="#icon-terminal"></use>
            </svg>
        </a>
    </div>

    <div class="copyright">
        Crafted with ❤️ by <a href="https://jkc.icu/about/">Kich</a>
    </div>

    <nav class="footer-nav">
        <a class="menu-item menu-item-home" href="/">Home</a>
        <a class="menu-item menu-item-archive" href="/archives">Archives</a>
        <a class="menu-item menu-item-about" href="/about">About</a>
        
        <a class="menu-item js-theme" href="#" data-system="System theme" data-dark="Dark theme" data-light="Light theme">
            <svg class="icon theme-icon theme-icon-system">
                <use xlink:href="#circle-half-full"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-dark">
                <use xlink:href="#brightness-2"></use>
            </svg>
            <svg class="icon theme-icon theme-icon-light">
                <use xlink:href="#white-balance-sunny"></use>
            </svg>
            <span class="theme-text">System theme</span>
        </a>
    </nav>

    <div class="site-info">
        <div class="github-badge">
            <a style="color: #fff" rel="license" href="https://hexo.io/" target="_blank" title="由 Hexo 强力驱动">
                <span class="badge-subject">Powered</span><span class="badge-value bg-hexo">Hexo</span>
            </a>
        </div>
        <div class="github-badge">
            <a style="color: #fff" rel="license" href="https://pages.github.com/" target="_blank" title="静态网页托管于 GitHub Pages">
                <span class="badge-subject">Hosted</span><span class="badge-value bg-github">GitHub</span>
            </a>
        </div>
        <div class="github-badge">
            <a style="color: #fff" rel="license" href="https://www.jsdelivr.com/" target="_blank" title="jsDelivr 提供 CDN 加速服务">
                <span class="badge-subject">CDN</span><span class="badge-value bg-jsdelivr">jsDelivr</span>
            </a>
        </div>
        <!--
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
        -->
        <div class="github-badge">
            <span class="badge-subject">UV</span><span class="badge-value bg-uv" id="busuanzi_value_site_uv"></span>
        </div>
        <div class="github-badge">
            <span class="badge-subject">PV</span><span class="badge-value bg-pv" id="busuanzi_value_site_pv"></span>
        </div>
    </div>
</footer>